.hidden {
    display: none;
}

body {
    margin: 0px;
    padding: 0;
}

.bible {
    width: 200px;
    height: 500px;
    background-color: rgb(204, 183, 223);
}

.top {
    background-color: rgb(181, 212, 241);
    width: 100vw;
    height: 80vh;
}

.bottom {
    background-color: rgb(121, 201, 139);
    width: 100vw;
    height: 20vh;
}
.btnFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#btn {
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: 0ch;
    background-color: rgb(248, 252, 204);
    font-size: x-large;
    font-weight: bolder;
}
#date {
    margin: 0px;
    padding-left: 23px;
    padding-top: 10px;
}
#cross1 {
    width: 30px;
    height: 6.45px;
    background-color: rgb(105, 91, 64);
    margin-bottom: 30px;
}
#cross2 {
    width: 6.45px;
    height: 90px;
    background-color: rgb(105, 91, 64);
}
#cross3 {
    width: 30px;
    height: 6.45px;
    background-color: rgb(105, 91, 64);
    margin-bottom: 30px;
}
.crs1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textDiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textDiv2 {
    width: 340px;
    height: 400px;
    margin-top: 50px;
}

#textDiv3 {
    margin-top: 150px;
    margin-left: 90px;
    width: 160px;
    height: 200px;
}

#word {
    text-align: center;
    font-size: 15px;
}

#title {
    text-align: center;
}

#btnDiv {
    margin-left: 25px;
    text-align: center;
    width: 300px;
}

#cardBtn {
    height: 30px;
    width: 110px;
}

#backBtn {
    height: 30px;
    width: 110px;
}
