.hidden {
    display: none;
}

body {
    margin: 0px;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
}

.top {
    background-color: rgb(181, 212, 241);
    width: 100vw;
    height: 80vh;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 90, 53);
    width: 100vw;
    height: 20vh;
    border-color: aliceblue;
    border-style: groove;
    border-left: 0;
}

.titleDiv {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: rgb(234, 255, 250);
    font-family: 'Noto Serif KR', serif;
}

.titleText {
    text-shadow: -1px 0 rgb(175, 175, 175), 0 1px rgb(175, 175, 175), 1px 0 rgb(175, 175, 175), 0 -1px rgb(175, 175, 175);
    text-shadow: 1px 1px 1px #000;
}

.btnFlex {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    height: 70vh;
}
#btn {
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: outset;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(101, 139, 221);
    font-family: 'Nanum Myeongjo', serif;
}

#btn:hover {
    /* background: rgb(175, 79, 154); */
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255);
}

#date {
    margin: 0px;
    padding-left: 23px;
    padding-top: 10px;
    padding-left: 30px;
    padding-top: 25px;
    font-size: 40px;
    /* font-weight: 1000; */
    font-family: 'Noto Serif KR', serif;
    text-shadow: 1px 1px 1px rgb(226, 225, 225);
}
#cross1 {
    width: 17px;
    height: 4px;
    background-color: rgb(80, 72, 65);
    margin-bottom: 18px;
    display: inline-block;
    border-radius: 10px;
}
#cross2 {
    width: 4px;
    height: 50px;
    background-color: rgb(80, 72, 65);
    display: inline-block;
    border-radius: 10px;
}
#cross3 {
    width: 17px;
    height: 4px;
    background-color: rgb(80, 72, 65);
    margin-bottom: 18px;
    display: inline-block;
    border-radius: 10px;
}
.crs1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textDiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textDiv2 {
    width: 340px;
    height: 400px;
    margin-top: 45px;
    border-radius: 29px;
    border-color: rgb(224, 224, 224);
    border-style: outset;
}

#textDiv3 {
    margin-top: 130px;
    margin-left: 74px;
    width: 200px;
    height: 200px;
    line-height: 25px;
}

#word {
    text-align: center;
    font-size: 16px;
    color: rgb(58, 58, 58);
}

#title {
    text-align: center;
    font-size: 12px;
    color: rgb(63, 63, 63);
}

#btnDiv {
    margin-left: 22px;
    text-align: center;
    width: 300px;
}

#cardBtn {
    width: 135px;
    height: 30px;
    background-color: rgb(161, 147, 177);
    border-color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    right: 30px;
    display: inline-block;
    top: 60px;
    font-family: 'Nanum Myeongjo', serif;
    border-style: outset;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(112, 112, 112);
}

#backBtn {
    width: 135px;
    height: 30px;
    background-color: rgb(131, 151, 170);
    border-style: outset;
    border-color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    right: 30px;
    display: inline-block;
    top: 60px;
    font-family: 'Nanum Myeongjo', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(116, 116, 116);
}
